node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env
.env.*

# Build output
build/
dist/

# Coverage
coverage/

# Cache
.npm/
.cache/

# OS files
.DS_Store
Thumbs.db
